.menu {
    width: 200px;
    background: #333;
    float: left;
}

.menu a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    background: #555;
}

.content {
    margin-left: 220px;
    padding: 20px;
    background: #eee;
}