 h1 { color: red; }
h2 { color: blue; }
h3 { color: green; }

        .dong4 {
            font-family: "Times New Roman";
            font-size: 14px;
            font-weight: bold;
        }

        .dong5 {
            font-family: "Times New Roman";
            font-size: 12px;
            font-weight: bold;
            background-color: yellow;
        }

        span {
            background-color: yellow;
            font-weight: bold;
        }