.menu {
    list-style: none;
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu > li {
    float: left;
    position: relative;
}

.menu a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
}

.menu li:hover {
    background: #555;
}

.submenu {
    display: none;
    position: absolute;
    background: #444;
    list-style: none;
    padding: 0;
}

.menu li:hover .submenu {
    display: block;
}

.submenu li a {
    width: 180px;
}